# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Storage directories & env file
dCompose/automation/appsmith
dCompose/automation/db
dCompose/automation/n8n
dCompose/automation/.env
dCompose/static/public/*
